/* GENERAL */
body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}
ul,ol{
    list-style:none;
} 
section{
    padding: 30px 0px 30px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 20px;
}

/* MENU */
.navbar {
    background-color: #888;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #888 !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}

/* ABOUT */
.heading{
    font-family: Lato;
    font-style: italic;
}
#about{
    font-family: 'Lato';
    padding-top: 50px;
    background: #888;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}
#about .heading h3{
    color: #000;
}

img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);   
}
img:hover{
    filter:none;
    -webkit-filter: none; 
}

/* FOOTER */
footer{
    background: #333;
    padding: 10px 0 10px;
}
footer .fas{
    font-size:  12px;
    margin: 10px;
    color: #888;
    height: 15px;
}
footer .fas:hover{
    font-size:  18px;
}
footer h6{
    color: #fff;
    font-weight: normal;
}
